body {
    font-family: 'Arial', sans-serif;
    background: white;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.register-container {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 60px;
    border-radius: 20px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
}

.register-box h2 {
    color: #f0f0f0;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 24px;
}

label {
    color: #ddd;
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

input, select {
    width: 100%;
    padding: 14px;
    border: 2px solid #555;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    outline: none;
    transition: border 0.3s ease;
}

input:focus, select:focus {
    border: 2px solid #8f94fb;
    box-shadow: 0 0 5px #8f94fb;
}

.register-btn {
    background-color: #6a11cb;
    background-image: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 1.1rem;
    width: 100%;
    padding: 14px;
    border-radius: 10px;
}

.register-btn:hover {
    background-image: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
}

.error {
    text-align: center;
    color: red;
    height: 20px; 
    visibility: hidden; 
    width: 100%;       
    max-width: 100%;   
    margin-top: 10px;
    font-size: 0.9rem;
}
.error.show {
    visibility: visible;
}
